<div class="container-fluid py-4">
    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="card">
        <div class="card-header">
            Add Employee
        </div>
        <div class="card-body">
            <form action="/employees/save" method="post">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Code:</label>
                    <input type="text" class="form-control" name="code" value="<%= code %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Birthday:</label>
                    <input type="text" class="form-control" name="birthday" value="<%= birthday %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <input type="text" class="form-control" name="gender" value="<%= gender %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>
</div>
